<div class="footer">
  <footer>
      <!-- Etiqueta footer -->
      <div class="container">
          <!-- Footer Up -->
          <div class="footer-content">
              <!-- contactos -->
              <div class="text-footer">
                  <h3>Contáctanos!</h3>
                  <div class="contacto">
                      <p><i class="fa fa-map-marker"></i>Calle Primera S/N, Col. El Círculo<br /> C.P 88640 Reynosa, México</p>
                      <p><i class="fa fa-phone"></i>(899) - 922 - 2086</p>
                      <p><i class="fa fa-envelope"></i>info@uman.edu.mx</p>
                  </div>
              </div>
          </div>
          <div class="footer-content">
              <!-- Links -->
              <h3>Enlaces rápidos</h3>
              <ul class="Lista">
                  <!-- Lista de links -->
                  <li><a href="">Inicio</a></li>
                  <li><a href="http://www.uman.edu.mx/DescripcionUMAN.html">Sobre Nosotros</a></li>
                  <li><a href="http://www.uman.edu.mx/Bibliotecas.html">Bibliotecas virtuales</a></li>
                  <li><a href="https://uman.servoescolar.mx/Inicio.aspx?ReturnUrl=%2f">ServoEscolar</a></li>
                  <li><a href="http://www.uman.edu.mx/Directorio.html">Directorio</a></li>
              </ul>
          </div>
          <div class="footer-content">
              <!-- Redes sociales -->
              <h3>Síguenos!</h3>
              <ul class="social-icons">
                  <!-- iconos de redes sociales -->
                  <li>
                    <a href="https://www.facebook.com/umansemejor" target="_blank" aria-label="Facebook">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank" aria-label="Twitter">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/umansemejor/" target="_blank" aria-label="Instagram">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/@umansemejor9606" target="_blank" aria-label="YouTube">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                  
              </ul>
          </div>
      </div>
      <div class="bottom-bar">
          <!-- Footer Down -->
          <p>&copy; 2024 Universidad Mexico Americana del Norte. Designer by: Cristian Del Angel</p>
      </div>
  </footer>
</div> <!-- Caja Footer -->