  <div class="header">
    <!-- First box -->
     <div class="headerstyle">
     <div id="box1"><p>Seleccionar lenguaje:</p></div>
     <div>
      <select id="idioma" class="header-select" onchange="cambiarIdioma()">
      <option value="en" >English</option>
      <option value="es" selected = "selected">Español</option>
      </select>
      <div>
          <b>Horario de atención:</b>
      </div>
     </div>
     <div id="Horario">
      <p id="semana">Lunes - Viernes, 09:00am - 19:00pm.</p>
     </div>
     <div>
      
      <div id="Naranja-fragil">
        <div id="Naranja-fuerte">
        </div>
        <p class="correo-header">
          <i class="fa fa-envelope-open me-2"></i>
          info@uman.edu.mx
        </p>
      </div>
     </div>
     </div>
  </div>
    <nav>
      <div class="mobile">
        <!-- Caja responsive -->
        <div class="header">
          <!-- Header y nav -->
          <div class="more"><button>More</button></div> <!-- Boton More -->
        </div>
        <div class="links">
          <!-- vinculos -->
          <a href="#">Services</a>
          <a href="#">About</a>
          <a href="#">Contact</a>
          <a href="#">Search</a>
          <a href="#">Sign up</a>
          <% if (authToken) {%>
          <a href="./login">Estas logueado</a>
          <% } else { %>
          <a href="./login">Inicia Sesión</a>
          <% } %>
        </div>
      </div>
      <div class="desktop">
        <!-- Diseño escritorio -->
        <div class="Logo">UMAN</div> <!-- Palabra logo en nav -->
        <div class="primary">
          <!-- Buscador -->
          <input id="search-input" type="text" autocomplete="off" placeholder="Buscar..." /> <!-- Buscador -->
          <button class="search-nav-btn"><i class="fa-solid fa-magnifying-glass"></i></button> <!-- Buscador -->
          <!-- ⬇ CONTENEDOR PARA ALMACENAR LAS SUGERENCIAS ⬇ -->
          <div id="autocomplete-list" class="autocomplete-suggestions"></div>
        </div>
        <div class="secondary full">
          <!-- Links escritorio en nav -->
          <a href="/">Inicio</a>
          <% if (isAdmin) {%>
            <a href="./admin/orders">Admin</a>
            <% } %>
          <% if (authToken) {%>
          <a href="./logout">Cerrar sesion</a>
          <% } else { %>
          <a href="./login">Inicia Sesión</a>
          <% } %>
          <div class="userIcon">
            <img style="width: 42px; height: 42px;" src="/img/user/userIcon.png" alt="">
          </div>
        </div>
        <div class="secondary mini">
          <!-- Links en movil -->
          <a href="#" class="more">Más</a> <!-- Boton desplegable -->
          <div class="submenu">
            <!-- Submenu -->
            <a href="#">Regístrate</a>
            <a href="./login">Inicia Sesión</a>
          </div>
        </div>
        <div class="profile-info">
      </div>

      </div>
    </nav> <!-- Caja nav -->