<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Registro de Libros</title>
  <link rel="stylesheet" href="/css/lstyles.css">
  <link rel="stylesheet" href="/css/nav-admin.css">
  <link rel="stylesheet" href="/css/footer.css">


</head>

<body>
  <%- include('./partials/adminHeader.ejs') %>

  <main>

    <% if (success !== undefined) { %>
    <div class="notification <%= success ? 'success' : 'error' %>">
      <% if (success) { %>
      <p>Libro insertado con éxito!</p>
      <% success = undefined %>
      <% } else { %>
      <p>¡Error al agregar Libro!</p>
      <% success = undefined %>
      <% } %>
    </div>
    <% } %>

    <div id="notification"></div>

    <div class="containerMain">
      <h1>Formulario de Registro de Libros</h1>
      <form method="POST">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="edition">Edición:</label>
        <select name="edition" id="edition">
          <option value="1ª">1.ª</option>
          <option value="2ª">2.ª</option>
          <option value="3ª">3.ª</option>
          <option value="4ª">4.ª</option>
          <option value="5ª">5.ª</option>
          <option value="6ª">6.ª</option>
          <option value="7ª">7.ª</option>
          <option value="8ª">8.ª</option>
          <option value="9ª">9.ª</option>
          <option value="10ª">10.ª</option>
          <option value="11ª">11.ª</option>
          <option value="12ª">12.ª</option>
        </select><br><br>

        <label for="author">Autor:</label>
        <input type="text" id="author" name="author" required><br><br>

        <label for="category">Categoría:</label>
        <select name="category" id="category" required>
          <% categories.forEach(category => { %>
          <option value=<%= `${category.id}` %>> <%= category.name %> </option>
          <% }); %>
        </select><br><br>

        <label for="publication_date">Fecha de Publicación:</label>
        <input type="date" id="publication_date" name="publication_date"><br><br>

        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn"><br><br>

        <label for="summary">Resumen:</label><br>
        <textarea id="summary" name="summary" rows="4"></textarea><br><br>

        <label for="available">Disponible:</label>
        <select id="available" name="available">
          <option value="yes">Sí</option>
          <option value="no">No</option>
        </select><br><br>

        <label for="available_copies">Cantidad:</label>
        <input type="number" id="available_copies" name="available_copies"><br><br>

        <label for="cover">Imagen de Portada:</label>
        <input type="text" id="cover" name="cover"><br><br>

        <button type="submit">Guardar</button>
      </form>
    </div>
  </main>

</body>

</html>
