<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Registro de Libros</title>
  <link rel="stylesheet" href="/css/lstyles.css">
  <link rel="stylesheet" href="/css/nav-admin.css">
  <link rel="stylesheet" href="/css/footer.css">

</head>

<body>
  <%- include('./partials/adminHeader.ejs') %>

  <main>

    <div class="container"></div>
        <h1>Administrar Órdenes de Libros</h1>
        <table class="orders-table">
            <thead>
                <tr>
                    <th>ID de Orden</th>
                    <th>Libro</th>
                    <th>Usuario</th>
                    <th>Fecha de Pedido</th>
                    <th>Fecha de Entrega</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>El Quijote</td>
                    <td>Juan Pérez</td>
                    <td>2024-09-15</td>
                    <td>2024-09-20</td>
                    <td>Pendiente</td>
                    <td>
                        <button class="btn">Ver</button>
                        <button class="btn">Editar</button>
                        <button class="btn">Eliminar</button>
                    </td>
                </tr>
                <!-- Más filas aquí -->
            </tbody>
        </table>

  </main>

</body>

</html>
