/* Universal estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header {
  width: 100%;
  background-color: #00455d;
  color: #FFF;
  height: 40px;
  position: relative;
}

.header .headerstyle {
  display: flex;
  margin: auto;
  width: 100%; /* Ajustar al 100% del ancho del contenedor */
  justify-content: space-between; /* Distribuye los divs horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  position: relative; /* Cambiado de 'absolute' a 'relative' */
  
}

.headerstyle div {
  color: #FFF;
  flex: 1; /* Para que cada caja ocupe espacio proporcional */
  display: flex;
  justify-content: left;
  padding-left: 20px;
  align-items: center;
  height: 40px;
}

.headerstyle p{
  display: flex;
  width: 100%;
  justify-content: right;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  letter-spacing: 2px;
}


.headerstyle #idioma{
  display: flex;
  align-items: center;
  justify-content: left;  /*estilos pendientes*/
  background-color: #FFF;
  height: 23px;
  width: 50%;
}

.headerstyle b{
  text-shadow: 1px 1px 5px #000;
}

#Horario p{
  font-size: 15px;
  padding-right: 40px;
  text-shadow: 2px 2px 5px #000;
}

.headerstyle #Naranja-fragil{
  position: relative;
  width: 100%;
  background-color: #fc4b08;
}

#Naranja-fragil #Naranja-fuerte{
  position: absolute;
  width: 35px;
  background-color: #de2e03; 
  transform: skew(40deg);
  left: -17px;
}

.correo-header{
  margin-right: 80px;
}

.me-2{
 margin-right: 8px;
}

/* Diseño de las valoraciones */
.stars {
  width: 371px;
  height: 20px;
}

.stars #form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

.stars #form p {
  text-align: center;
}

.stars #form label {
  font-size: 20px;
}

.stars input[type="radio"] {
  display: none;
}

.stars label {
  color: grey;
}

.stars .clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: left;
}

.stars label:hover,
.stars label:hover ~ label {
  color: orange;
}

.stars input[type="radio"]:checked ~ label {
  color: orange;
}

.contenedor-principal{
  display: grid;
  grid-template-rows: auto; 
}

.contenedor-libros{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 187px 1fr 1fr;
    height: 600px;
    margin-bottom: 90px;
    grid-template-areas: 
    "area1 area2 area3";
}

#botones-lateral{  
    display: flex;
    margin-left: 55px;
    grid-area: area1;
    width: 110px;
}

#ejemplar{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: area2;
    overflow: hidden;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    grid-area: area3;	
}

.botones{
    display: flex;
  justify-content: center;
  align-items:flex-end;
  font-size: 24px;
}

.btn-1,
.btn-2 {
  width: 200px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    margin: 40px 40px 98px 40px;
}

.btn-1:hover {
  cursor: pointer;
}

.btn-1 a,
.btn-2 a {
  text-decoration: none;
  border: 2px solid #010100;
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}
span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
}
.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  /*100% plus double the times left values*/
  height: calc(100% - 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-1 a:hover::before,
.btn-2 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  /*100% plus double the times left values*/
  height: calc(100% + 10px);
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}
/* Created by http://grohit.com/  */

.btn-1 a:hover::after,
.btn-2 a:hover::after {
  transform: scaleX(0);
}

/* Button 2 styles */

.btn-2 a {
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.btn-2 a:hover {
  color: #000000;
  transition: all 0.5s ease-in-out;
}

.btn-2 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-2 a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

#libro{
    display: flex;
    width: 200px;
    height: 90%;
    background-color: white;
    margin-top: 100px;
    margin-left: -200px;
}

#libro img{
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
}
#texto{
    color: black;
    font-size: 20px;
    width: 90%;
    height: 80%;
    background-color: white;
}

#texto p{
    color: black;
    font-family: sans-serif;
    font-size: 17px;
}

#texto p:nth-child(1){
    font-size: 30px;
    font-family: sans-serif;
}


footer{
    width: 100%;
    height: auto;
}

.Logo #Cabecera h1 {
    text-shadow: 5px 5px 0 #000;
}

#Cabecera  h1 {
    text-align: center;
    color: #FFF;
    font-size: 40px;    
}

#Cabecera {
    background: url(../img/barra-libros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
}
.desktop .Logo img{
    height: 52px;
    margin-left: 5px;
}
.content-title{
    justify-content: center;
    display: inline-flex;
    width: 70%;
    border-bottom: 4px solid #58181F;
    margin-bottom: 1.5rem;
    font-family: sans-serif;
}
.content-title h2{
    margin-bottom: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.description p{
    color: #606569;
    width: 70%;
    margin-left: 220px;
    font-family: sans-serif;
    line-height: 30px;
}

.description .text{
    -webkit-mask-image: linear-gradient(#000 60%, transparent);
    will-change: transform;
    overflow: hidden;
    margin-bottom: 5px;
    transition: all .5s cubic-bezier(.39,.58,.57,1);
    max-height: 12em;
    padding: 0;
    position: relative;
}
.description .show-more{
    font-family: sans-serif;
    color: #000;
    position: relative;
    font-size: 14px;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
    padding: 1px 20px 1px 16px;
    max-width: 200px;
    line-height: 27px;
    vertical-align: baseline;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.submit-btn-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  
}

.submit-btn-container > button {
  width: 100px;
  height: 40px;
  border-radius: 30px;
}

.submit-modal-btn-2:hover {
  background-color: red;
  cursor: pointer;
}

.submit-modal-btn-1:hover {
  background-color: greenyellow;
  cursor: pointer;
}

.hidden { 
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  visibility: hidden; /* Cambia display a visibility */
}

.ghost {
  position: absolute;
  width: 100vw;
}

.success {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  animation: fadeInOut 3s ease-in-out 1 forwards; /* 'forwards' mantiene el estilo final */
}

